VITE_CLICKBID_API=''
VITE_CLICKBID_UID=
VITE_RE_API_TOKEN_OLD=''
VITE_RE_API_TOKEN=''
VITE_RE_SUB_KEY=''
VITE_RE_CLIENT_ID=''
VITE_RE_CLIENT_SECRET=''
VITE_RE_TOKEN=''
VITE_CB_ROOT_API = 'https://cbo.bid/api/v3/bigboard.php/bigboard'
VITE_RE_ROOT_REDIRECT = 'https://oauth2.sky.blackbaud.com/token'
VITE_RE_ROOT_API = 'https://api.sky.blackbaud.com'