.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1543589076-bddcb054f426?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80)
    no-repeat center center / cover;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Inter, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.stage,
.notices {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.notices {
  z-index: 2;
}

.notices span,
.stage span {
  position: absolute;
}
.stage span {
  width: 50px;
  height: 50px;
  background-color: #c0c0c050;
  box-shadow: 0 0 5px rgba(192, 192, 192, 0.3),
    0 0 15px rgba(192, 192, 192, 0.3), 0 0 30px rgba(192, 192, 192, 0.3);
  border-radius: 50%;
  filter: blur(2px);
}
.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
  margin-top: 25px;
}
.heart {
  z-index: 999999;
}

.heartAmount {
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 0 0 10px #000;
  font-size: 22px;
  font-weight: bold;
}

.overlays {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 200px;
}

.total {
  max-width: calc(80vw);
  margin: 0 auto;
  padding-bottom: 50px;
}

.qr {
  max-width: 250px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 15px;
  overflow: hidden;
}

.total {
  background: none;
  color: white;
  text-align: center;
  font-size: 200%;
}

.total b {
  font-size: 150%;
}

.qr img {
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 200%;
  margin: 0;
}
